
   
 <div class="side-menu">
    <!-- <div> -->
        <div class="img-icon spotify-icon"><i class="fab fa-spotify"></i></div>
        <h4 class="spotify-title"> Spotify</h4>

        <div class="sub-menu">
            <ul class="spotify-menu">
                <li class="menu-list"><div class="square-box"><i class="fas fa-home menu-icon"></i> </div><span class="liked-songs"> Home</span></li>
                <li class="menu-list"><div class="square-box"><i class="fas fa-search menu-icon"></i></div> <span class="liked-songs">Search</span></li>
                <li class="menu-list"><div class="square-box"><i class="fas fa-book-open menu-icon"></i></div><span class="liked-songs"> Your Library</span></li>

                <li class="menu-list" style="margin-top: 3.5em;"><div class="square-box"><i class="fa-solid fa-square-plus menu-icon-2"></i></div><span class="liked-songs">Create Playlist</span></li>
                <li class="menu-list"><div class="box"><i class="fa-solid fa-heart" style="font-size: 13px;"></i></div><span class="liked-songs">Liked Songs</span></li>

            </ul>

            <div class="line"></div>

            <div class="playlist">
                <ul class="spotify-menu">
                    <li class="playlist-list">My Playlist #25</li>
                    <li class="playlist-list">My Playlist #24</li>
                    <li class="playlist-list">Your Top Song 2022</li>
                    <li class="playlist-list">On Repeat</li>
                    <li class="playlist-list">Best Of The Decade For You</li>
                    <li class="playlist-list">Upside Down Playlist</li>
                    <li class="playlist-list">Top hits 2010s-2022</li>
                    <li class="playlist-list">This Is TAYLOR SWIFT</li>
                    <li class="playlist-list">Your Time Capsule</li>
                </ul>
            </div>

            
        </div>
    <!-- </div> -->
</div>


<div class="container-fluid dsb">
    <div class="row">
        <div class="col-md-8">
            <div class="sticky-top top-menu">

                <div class="profile">
                    <div class="dropdown drop-profile">
                        <button class="btn btn-secondary dropdown-toggle profile-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                         <img src="../assets/Profile-2.jpg" class="profile-img"> Dinie
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" style="background-color: #282828; width: 13em; font-family: circular-light;">
                          <li><a class="dropdown-item active" href="#">Account <span class="ext-links"><i class="fas fa-external-link-alt"></i></span></a></li>
                          <li><a class="dropdown-item" href="#">Profile</a></li>
                          <li><a class="dropdown-item" href="#">Upgrade To Premium <span class="ext-links"><i class="fas fa-external-link-alt"></i></span></a></li>
                          <li><a class="dropdown-item" href="#">Support <span class="ext-links"><i class="fas fa-external-link-alt"></i></span></a></li>
                          <li><a class="dropdown-item" href="#">Download <span class="ext-links"><i class="fas fa-external-link-alt"></i></span></a></li>
                          <li><a class="dropdown-item" href="#">Setting</a></li>
                          <li><hr class="dropdown-divider" style="background-color: #3e3e3e;"></li>
                          <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                      </div>
                </div>
              </div>
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>
