<div class="container">
    <div class="row" style="margin-bottom: 1rem;  ">
        <h3>Good Afternoon</h3>
    </div>

    <div class="row" style="margin-bottom: 1rem; padding-right: 1em;">
        <div class="col-md-4">
            <div class="playlist-dashboard">
                    <img src="../../assets/cover/cover-1.jpg" class="cover-photo">
                    <span class="cover-name">Your Top Song 2021</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="playlist-dashboard">
                <img src="../../assets/cover/cover-2.jpg" class="cover-photo">
                <span class="cover-name">Your Time Capsule</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="playlist-dashboard">
                <img src="../../assets/cover/cover-3.jpg" class="cover-photo">
                <span class="cover-name">Liked Songs</span>
            </div>
        </div>
    </div>
    <div class="row" style="padding-right: 1em;">
        <div class="col-md-4">
            <div class="playlist-dashboard">
                    <img src="../../assets/cover/cover-4.jpg" class="cover-photo">
                    <span class="cover-name">Upside Down Playlist</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="playlist-dashboard">
                <img src="../../assets/cover/cover-5.jpg" class="cover-photo">
                <span class="cover-name">On Repeat</span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="playlist-dashboard">
                <img src="../../assets/cover/cover-6.jpg" class="cover-photo">
                <span class="cover-name">This Is Taylor Swift</span>
            </div>
        </div>
    </div>

    <div class="row">
        <h4 class="dash-title">Your top mixes</h4>
    </div>

    <div class="row dash-playlist">
        <div class="col-md-2" *ngFor="let card of topMix">
            <div class="card-box" (click)="playlistRoute('37i9dQZF1Epps0uHncFzmh')">
                <img class="card-img" src="{{card.img}}">
                <div class="dash-descp">
                    <span>{{card.title}}</span>
                </div>  
                <div class="descp">
                    <div class="small-text">
                        <small style="font-weight: 700;">{{card.descp}}</small>
                    </div>
                </div>
           </div>           
        </div>
    </div>

    <div class="row">
        <h4 class="dash-title">Your top mixes</h4>
    </div>

    <div class="row dash-playlist">
        <div class="col-md-2" *ngFor="let card of topMix">
            <div class="card-box" >
                <img class="card-img" src="{{card.img}}">
                <div class="dash-descp">
                    <span>{{card.title}}</span>
                </div>  
                <div class="descp">
                    <div class="small-text">
                        <small style="font-weight: 700;">{{card.descp}}</small>
                    </div>
                </div>
           </div>           
        </div>
    </div>

    <div class="row">
        <h4 class="dash-title">Your top mixes</h4>
    </div>

    <div class="row dash-playlist">
        <div class="col-md-2" *ngFor="let card of topMix">
            <div class="card-box" >
                <img class="card-img" src="{{card.img}}">
                <div class="dash-descp">
                    <span>{{card.title}}</span>
                </div>  
                <div class="descp">
                    <div class="small-text">
                        <small style="font-weight: 700;">{{card.descp}}</small>
                    </div>
                </div>
           </div>           
        </div>
    </div>

</div>