h1,h2,h3,h4,h5,h6,span{
    font-family: circular-bold;
    color: #fff;
}

.container{
    margin: 0 3em;
    padding-top: 2.5em;
}

.playlist-dashboard{
    background-color: #2d3132;
    border-radius: 5px;
}

.cover-photo{
    width: 5em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cover-name{
    padding-left: 1em;
}