/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

h1,h2,h3,h4,h5,h6,span{
    font-family: circular-bold;
    color: #fff;
}

small{
    font-family: circular-light;
    color: #969696;
}

@import url(./font.css);

@font-face {
    font-family: circular-medium;
    src: url(./assets/Circular/CircularStd-Medium.otf) format("opentype");
}

@font-face {
    font-family: circular-light;
    src: url(./assets/Circular/CircularStd-Light.otf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
