/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

h1,h2,h3,h4,h5,h6,span{
    font-family: circular-bold;
    color: #fff;
}

small{
    font-family: circular-light;
    color: #969696;
}

@font-face {
    font-family: circular-Black;
    src: url(/assets/Circular/CircularStd-Black.otf) format("opentype");
}

@font-face {
    font-family: circular-BlackItalic;
    src: url(/assets/Circular/CircularStd-BlackItalic.otf) format("opentype");
}

@font-face {
    font-family: circular-bold;
    src: url(/assets/Circular/CircularStd-Bold.otf) format("opentype");
}

@font-face {
    font-family: circular-BoldItalic;
    src: url(/assets/Circular/CircularStd-BoldItalic.otf) format("opentype");
}

@font-face {
    font-family: circular-book;
    src: url(/assets/Circular/CircularStd-Book.otf) format("opentype");
}

@font-face {
    font-family: circular-BookItalic;
    src: url(/assets/Circular/CircularStd-BookItalic.otf) format("opentype");
}

@font-face {
    font-family: circular-light;
    src: url(/assets/Circular/CircularStd-Light.otf) format("opentype");
}

/* @font-face {
    font-family: circular-LightItalic;
    src: url(./assets/Circular/) format("opentype");
} */

@font-face {
    font-family: circular-medium;
    src: url(/assets/Circular/CircularStd-Medium.otf) format("opentype");
}

@font-face {
    font-family: circular-MediumItalic;
    src: url(/assets/Circular/CircularStd-MediumItalic.otf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
